<div class="header">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-6">
                <img src="http://osterbergmarcus.github.io/assets/img/avatar.jpg" title="Avatar" alt="My Avatar">
                <h4><strong>{{ site.author.name }}</strong></h4>
                <p>{{ site.author.title }}</p>
                <p class="muted">{{ site.author.address }}</p>
                <a href="http://marcusosterberg.com/">marcusosterberg.com</a>
                <br/>
                <a href="mailto:marcusterberg@gmail.com">marcusterberg@gmail.com</a>
                <br/>
                <br/>
                <p><a href="https://github.com/{{ site.author.github }}" target="_blank"><i class="fa fa-github fa-2x"></i> </a>
                  <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
